<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>page2</servlet-name>
        <servlet-class>page2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page3</servlet-name>
        <servlet-class>page3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page33</servlet-name>
        <servlet-class>page33</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page2signup</servlet-name>
        <servlet-class>page2signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetpassword</servlet-name>
        <servlet-class>forgetpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>page2</servlet-name>
        <url-pattern>/page2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page3</servlet-name>
        <url-pattern>/page3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page33</servlet-name>
        <url-pattern>/page33</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page2signup</servlet-name>
        <url-pattern>/page2signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetpassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
